* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/hinh-nen-powerpoint\ -quan-doi-viet-nam-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000;
}
.navbar {
  display: flex;
  justify-content: space-between; /* Căn giữa logo và menu theo chiều ngang */
  align-items: center; /* Căn giữa logo và menu theo chiều dọc */
  padding: 20px 100px;
  /* background-color: black; */
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar .menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-right: 30px;
  align-items: center;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}
.logo1 img {
  width: 100px;
  height: auto;
  /* justify-content: flex-start; */
}
#userLogin {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}
.main__container h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}
.options__question {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  list-style: none;
  font-family: sans-serif;
  color: #000;
  font-weight: 700;
  text-shadow: 2px 2px 4x rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.options__question li a {
  text-decoration: none;
  font-size: 2.25rem;
  color: #000;
}
.options__question li a:hover {
  color: #555;
}
.fade-out {
  opacity: 0;
  transform: scale(0.97);
  filter: blur(3px);
  transition: opacity 0.45s ease, transform 0.45s ease, filter 0.45s ease;
}
