* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/hinh-nen-powerpoint\ -quan-doi-viet-nam-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #000;
}
main {
  padding: min(50px, 7%);
}
.navbar {
  display: flex;
  justify-content: space-between; /* Căn giữa logo và menu theo chiều ngang */
  align-items: center; /* Căn giữa logo và menu theo chiều dọc */
  padding: 20px 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}
.navbar .menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-right: 30px;
  align-items: center;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}
.logo1 img {
  width: 100px;
  height: auto;
  /* justify-content: flex-start; */
}
#userLogin {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.main__container h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  text-transform: capitalize;
}
.options__question {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  list-style: none;
  font-family: sans-serif;
  color: #000;
  font-weight: 700;
  text-shadow: 2px 2px 4x rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.options__question li a {
  text-decoration: none;
  font-size: 2.25rem;
  color: #000;
}
.options__question li a:hover {
  color: #555;
}
.container1 {
  font-size: 3.5rem;
  border: 2px solid rgb(75, 82, 92);
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: row; /* ảnh trái - chữ phải */
  align-items: flex-start; /* căn giữa theo chiều dọc */
  gap: 1.5rem;
  background-color: antiquewhite;
}
.container1:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}
.main__container--header {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
}
.container1 .container__img {
  width: 13rem;
  height: 18rem; /* cố định chiều cao */
  object-fit: cover; /* ảnh lấp đầy khung */
}

/* chữ nằm ngang với ảnh */
.container__link a {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
}
.container__link a:hover {
  color: rgb(76, 76, 220);
}

.container__list {
  list-style: none;
  padding: 0;
  /* background-color: white; */
  margin-top: 0.5rem;
  display: none;
}

.container__list.open {
  display: block;
}

.container__list li {
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.container__list li.show {
  opacity: 1;
  transform: translateY(0);
}
