* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/hinh-nen-powerpoint\ -quan-doi-viet-nam-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  justify-content: center;
  backdrop-filter: blur(20px);
  align-items: center;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 80px 0;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px;
  box-shadow: 1px 1px 3px;
  max-width: 100%;
}
.wrapper h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 90px;
  text-shadow: 1px 1px 3px;
}
.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0px;
  border-bottom: 2px solid #000;
  height: 40px;
}
#login,
#register {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
}
label {
  position: absolute;
  /* top: 50%; */
  left: 10px;
  color: #000;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
  font-weight: 700;
}
#submit {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 1px;
}
#btnRegister,
#btnForgot {
  font-family: Arial, sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 1px;
}
button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}
button:hover {
  transform: scale(1.1);
}
